downloads/
builds/
autoytdlpmanager.db
autoytdlpmanager.db-wal
autoytdlpmanager.db-shm
autoytdlpmanager_DEBUG.db
autoytdlpmanager_DEBUG.db-wal
autoytdlpmanager_DEBUG.db-shm
yt_download_manager.db
yt_download_manager.db-wal
yt_download_manager.db-shm
yt_download_manager_DEBUG.db
yt_download_manager_DEBUG.db-wal
yt_download_manager_DEBUG.db-shm

yt-stream-manager.exe
yt-stream-manager-debug.exe
autoytdlpmanager.exe
autoytdlpmanager-debug.exe

# Debug stuff ignore
test-chat-output - Copy.json
test-chat-output.json
EXAMPLE_CHAT_JSON.json
output.html
yt-stream-manager.exe


config.json
config_DEBUG.json
log_current.log
ytdlp_config.txt
static/test/
